XYD/Connected Services/U8Service/U8Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UpdateStyleNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tableName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="param" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateStyleNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateStyleNoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSupplier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tableName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="param" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSupplierResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateSupplierResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tableName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="param" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateCustomerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Salary">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BeginDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="wxIdList" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="shIdList" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="specialIdList" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SalaryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SalaryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QuerySalary">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BeginDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="EmplNO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cGzGradeNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QuerySalaryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QuerySalaryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SalaryDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Year" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Month" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="EmplNO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cGZGradeNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SalaryDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SalaryDetailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryMyDetailSalary">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BeginDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="EmplNO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryMyDetailSalaryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryMyDetailSalaryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryDetailSalary">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BeginDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Area" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wxIdList" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="shIdList" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="specialIdList" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryDetailSalaryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryDetailSalaryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SyncPerson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="persons" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SyncPersonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SyncPersonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetU8Users">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetU8UsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetU8UsersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindTargetVendor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindTargetVendorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindTargetVendorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SyncVendor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oaVendors" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SyncVendorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SyncVendorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdateStyleNoSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateStyleNo" />
  </wsdl:message>
  <wsdl:message name="UpdateStyleNoSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateStyleNoResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSupplierSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSupplier" />
  </wsdl:message>
  <wsdl:message name="UpdateSupplierSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCustomer" />
  </wsdl:message>
  <wsdl:message name="UpdateCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="SalarySoapIn">
    <wsdl:part name="parameters" element="tns:Salary" />
  </wsdl:message>
  <wsdl:message name="SalarySoapOut">
    <wsdl:part name="parameters" element="tns:SalaryResponse" />
  </wsdl:message>
  <wsdl:message name="QuerySalarySoapIn">
    <wsdl:part name="parameters" element="tns:QuerySalary" />
  </wsdl:message>
  <wsdl:message name="QuerySalarySoapOut">
    <wsdl:part name="parameters" element="tns:QuerySalaryResponse" />
  </wsdl:message>
  <wsdl:message name="SalaryDetailSoapIn">
    <wsdl:part name="parameters" element="tns:SalaryDetail" />
  </wsdl:message>
  <wsdl:message name="SalaryDetailSoapOut">
    <wsdl:part name="parameters" element="tns:SalaryDetailResponse" />
  </wsdl:message>
  <wsdl:message name="QueryMyDetailSalarySoapIn">
    <wsdl:part name="parameters" element="tns:QueryMyDetailSalary" />
  </wsdl:message>
  <wsdl:message name="QueryMyDetailSalarySoapOut">
    <wsdl:part name="parameters" element="tns:QueryMyDetailSalaryResponse" />
  </wsdl:message>
  <wsdl:message name="QueryDetailSalarySoapIn">
    <wsdl:part name="parameters" element="tns:QueryDetailSalary" />
  </wsdl:message>
  <wsdl:message name="QueryDetailSalarySoapOut">
    <wsdl:part name="parameters" element="tns:QueryDetailSalaryResponse" />
  </wsdl:message>
  <wsdl:message name="SyncPersonSoapIn">
    <wsdl:part name="parameters" element="tns:SyncPerson" />
  </wsdl:message>
  <wsdl:message name="SyncPersonSoapOut">
    <wsdl:part name="parameters" element="tns:SyncPersonResponse" />
  </wsdl:message>
  <wsdl:message name="GetU8UsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetU8Users" />
  </wsdl:message>
  <wsdl:message name="GetU8UsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetU8UsersResponse" />
  </wsdl:message>
  <wsdl:message name="FindTargetVendorSoapIn">
    <wsdl:part name="parameters" element="tns:FindTargetVendor" />
  </wsdl:message>
  <wsdl:message name="FindTargetVendorSoapOut">
    <wsdl:part name="parameters" element="tns:FindTargetVendorResponse" />
  </wsdl:message>
  <wsdl:message name="SyncVendorSoapIn">
    <wsdl:part name="parameters" element="tns:SyncVendor" />
  </wsdl:message>
  <wsdl:message name="SyncVendorSoapOut">
    <wsdl:part name="parameters" element="tns:SyncVendorResponse" />
  </wsdl:message>
  <wsdl:message name="TestSoapIn">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:portType name="U8ServiceSoap">
    <wsdl:operation name="UpdateStyleNo">
      <wsdl:input message="tns:UpdateStyleNoSoapIn" />
      <wsdl:output message="tns:UpdateStyleNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSupplier">
      <wsdl:input message="tns:UpdateSupplierSoapIn" />
      <wsdl:output message="tns:UpdateSupplierSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <wsdl:input message="tns:UpdateCustomerSoapIn" />
      <wsdl:output message="tns:UpdateCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Salary">
      <wsdl:input message="tns:SalarySoapIn" />
      <wsdl:output message="tns:SalarySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QuerySalary">
      <wsdl:input message="tns:QuerySalarySoapIn" />
      <wsdl:output message="tns:QuerySalarySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SalaryDetail">
      <wsdl:input message="tns:SalaryDetailSoapIn" />
      <wsdl:output message="tns:SalaryDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryMyDetailSalary">
      <wsdl:input message="tns:QueryMyDetailSalarySoapIn" />
      <wsdl:output message="tns:QueryMyDetailSalarySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryDetailSalary">
      <wsdl:input message="tns:QueryDetailSalarySoapIn" />
      <wsdl:output message="tns:QueryDetailSalarySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SyncPerson">
      <wsdl:input message="tns:SyncPersonSoapIn" />
      <wsdl:output message="tns:SyncPersonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetU8Users">
      <wsdl:input message="tns:GetU8UsersSoapIn" />
      <wsdl:output message="tns:GetU8UsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindTargetVendor">
      <wsdl:input message="tns:FindTargetVendorSoapIn" />
      <wsdl:output message="tns:FindTargetVendorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SyncVendor">
      <wsdl:input message="tns:SyncVendorSoapIn" />
      <wsdl:output message="tns:SyncVendorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input message="tns:TestSoapIn" />
      <wsdl:output message="tns:TestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="U8ServiceSoap" type="tns:U8ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateStyleNo">
      <soap:operation soapAction="http://tempuri.org/UpdateStyleNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSupplier">
      <soap:operation soapAction="http://tempuri.org/UpdateSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap:operation soapAction="http://tempuri.org/UpdateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Salary">
      <soap:operation soapAction="http://tempuri.org/Salary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuerySalary">
      <soap:operation soapAction="http://tempuri.org/QuerySalary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalaryDetail">
      <soap:operation soapAction="http://tempuri.org/SalaryDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryMyDetailSalary">
      <soap:operation soapAction="http://tempuri.org/QueryMyDetailSalary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryDetailSalary">
      <soap:operation soapAction="http://tempuri.org/QueryDetailSalary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncPerson">
      <soap:operation soapAction="http://tempuri.org/SyncPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetU8Users">
      <soap:operation soapAction="http://tempuri.org/GetU8Users" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindTargetVendor">
      <soap:operation soapAction="http://tempuri.org/FindTargetVendor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncVendor">
      <soap:operation soapAction="http://tempuri.org/SyncVendor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="U8ServiceSoap12" type="tns:U8ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateStyleNo">
      <soap12:operation soapAction="http://tempuri.org/UpdateStyleNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSupplier">
      <soap12:operation soapAction="http://tempuri.org/UpdateSupplier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap12:operation soapAction="http://tempuri.org/UpdateCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Salary">
      <soap12:operation soapAction="http://tempuri.org/Salary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuerySalary">
      <soap12:operation soapAction="http://tempuri.org/QuerySalary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalaryDetail">
      <soap12:operation soapAction="http://tempuri.org/SalaryDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryMyDetailSalary">
      <soap12:operation soapAction="http://tempuri.org/QueryMyDetailSalary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryDetailSalary">
      <soap12:operation soapAction="http://tempuri.org/QueryDetailSalary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncPerson">
      <soap12:operation soapAction="http://tempuri.org/SyncPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetU8Users">
      <soap12:operation soapAction="http://tempuri.org/GetU8Users" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindTargetVendor">
      <soap12:operation soapAction="http://tempuri.org/FindTargetVendor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncVendor">
      <soap12:operation soapAction="http://tempuri.org/SyncVendor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="U8Service">
    <wsdl:port name="U8ServiceSoap" binding="tns:U8ServiceSoap">
      <soap:address location="http://localhost:8088/U8Service.asmx" />
    </wsdl:port>
    <wsdl:port name="U8ServiceSoap12" binding="tns:U8ServiceSoap12">
      <soap12:address location="http://localhost:8088/U8Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>